<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.epam.ta.reportportal.log4j.appender" status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] %-5p [%tid] (%F:%L) - %m%n"/>
        </Console>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] %-5p [%tid] (%F:%L) - %m%n"/>
        </ReportPortalLog4j2Appender>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.http" level="WARN"/>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender" level="INFO"/>
            <AppenderRef ref="ReportPortalAppender"/>
        </Root>
    </Loggers>
</Configuration>
